.renderWindow {
    background: white;
}
.row {
    color: black;
}
li h1 {
    color: black;
}
#renderer {
    width: 100%;
    height: 300px;
    text-align: center;
}
canvas { 
    width: 300px; 
    height: 300px; 
}